{% extends 'base.html' %}
{% block nav %}

<li class="{% if request.resolver_match.url_name == 'dash' %}active{% endif %}">
    <a href="{% url 'dash' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
</li>
<li class="{% if request.resolver_match.url_name == 'od' %}active{% endif %}">
    <a href="{% url 'od' %}"><i class="menu-icon fa fa-file"></i>OD's </a>
</li>
<li class ="{% if request.resolver_match.url_name == 'leave' %}active{% endif %}">
    <a href="{% url 'leave' %}"><i class="menu-icon fa fa-copy"></i>Leave's </a>
</li>
<li class ="{% if request.resolver_match.url_name == 'bonafide' %}active{% endif %}">
    <a href="{% url 'bonafide' %}"><i class="menu-icon fa fa-certificate"></i>Bonafide </a>
</li>
<li class ="{% if request.resolver_match.url_name == 'gatepass' %}active{% endif %}">
    <a href="{% url 'gatepass' %}"><i class="menu-icon ti-shift-right-alt"></i>Gatepass </a>
</li>
<li class ="{% if request.resolver_match.url_name == 'student_feedback' %}active{% endif %}">
    <a href="{% url 'student_feedback' %}"><i class="menu-icon ti-comments"></i>Feedback </a>
</li>
<li class="{% if request.resolver_match.url_name == 'notifications_view' %}active{% endif %}">
    <a href="{% url 'notifications_view' %}" class="btn btn-warning btn-block mt-2"><i class="fa fa-bell"></i> Notification History</a>
</li>

{% endblock %}
{% block root %}
<div class="row mb-4">
    <div class="col-md-6">
        <a href="{% url 'gatepass' %}?action=apply" class="btn btn-primary btn-block">Apply for Gatepass</a>
    </div>
    <div class="col-md-6">
        <a href="{% url 'gatepass' %}?action=status" class="btn btn-info btn-block">View Gatepass Status</a>
    </div>
</div>
<div id="gatepass-content">
    {% if action == 'apply' or not action %}
        {% include 'student/gatepass_apply.html' %}
    {% elif action == 'status' %}
        {% include 'student/gatepass_status.html' %}
    {% endif %}
</div>
{% endblock %}
