{% extends 'base.html' %}
{% block nav %}

<li class="active">
    <a href="{% url 'dash' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
</li>

<li class="">
    <a href="{% url 'od' %}"><i class="menu-icon fa fa-file"></i>OD's </a>
</li>
<li class ="">
    <a href="{% url 'leave' %}"><i class="menu-icon fa fa-copy"></i>Leave's </a>
</li>
<li class ="">
    <a href="{% url 'bonafide' %}"><i class="menu-icon fa fa-certificate"></i>Bonafide </a>
</li>
<li class ="">
    <a href="{% url 'gatepass' %}"><i class="menu-icon ti-shift-right-alt"></i>Gatepass </a>
</li>
<li class ="">
    <a href="{% url 'student_feedback' %}"><i class="menu-icon ti-comments"></i>Feedback </a>
</li>


{% endblock %}
{% block root %}
<div class="row mb-4">
    <div class="col-md-6">
        <a href="{% url 'gatepass' %}?action=apply" class="btn btn-primary btn-block">Apply for Gatepass</a>
    </div>
    <div class="col-md-6">
        <a href="{% url 'gatepass' %}?action=status" class="btn btn-info btn-block">View Gatepass Status</a>
    </div>
</div>
<div id="gatepass-content">
    {% if action == 'apply' or not action %}
        {% include 'student/gatepass_apply.html' %}
    {% elif action == 'status' %}
        {% include 'student/gatepass_status.html' %}
    {% endif %}
</div>
{% endblock %}
