{% extends 'base.html' %}
{% load dict_extras %}
{% block root %}
<center>
        <h3 style="background:#1976d2;color:#fff;padding:10px 24px;border-radius:6px;display:inline-block;box-shadow:0 2px 8px rgba(25,118,210,0.08);">Class Time Table</h3>
    </center>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Day / Period</th>
            {% for p in periods %}
                <th>{{ p }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for day in days %}
        <tr>
            <td><b>{{ day }}</b></td>
            {% for p in periods %}
                {% with key=day|add:"_"|add:p|stringformat:"s" %}
                    <td>
                        {{ table|dict_get:key }}
                    </td>
                {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
