{% extends 'base.html' %}
{% load static %}

{% block nav %}
<div class="row mb-3">
    <div class="col-12">
        <div class="card bg-light">
            <div class="card-body d-flex align-items-center">
                <div class="mr-3">
                    {% if duser.profile %}
                        <img src="{{ duser.profile.url }}" alt="Profile" class="rounded-circle" width="60" height="60">
                    {% else %}
                        <img src="/static/default_profile.png" alt="Default Profile" class="rounded-circle" width="60" height="60">
                    {% endif %}
                </div>
                <div>
                    <strong>Staff ID:</strong> {{ duser.user.username }}<br>
                    <strong>Name:</strong> {{ duser.name }}<br>
                    <strong>User:</strong> Staff
                </div>
            </div>
        </div>
    </div>
</div>
<li class="active">
    <a href="{% url 'dash' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
</li>
<li>
    <a href="{% url 'staff_od_view' %}"><i class="menu-icon fa fa-file"></i>OD's </a>
</li>
<li>
    <a href="{% url 'staff_leave_view' %}"><i class="menu-icon fa fa-copy"></i>Leave's </a>
</li>

<li>
    <a href="{% url 'staff_bonafides' %}" ><i class="menu-icon fa fa-certificate"></i>Bonafide </a>
</li>
<li>
    <a href="{% url 'staff_gatepass_view' %}"><i class="ti-shift-right-alt menu-icon"></i>Gatepass </a>
</li>
{% endblock %}

{% block root %}
<div class="row">
    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="ti-file"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">Leave
                                <div class="stat-heading">
                                    <a href="{% url 'leave' %}" class="btn btn-link btn-sm  flat-color-1">Apply &nbsp;<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                        <i class="ti-files"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">OD
                                <div class="stat-heading">
                                    <a href="{% url 'od' %}" class="btn btn-link btn-sm  flat-color-2">Apply &nbsp;<i class="fa fa-arrow-right"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Bonafide card -->
    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                        <i class="menu-icon fa fa-certificate"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">Bonafied
                                <div class="stat-heading">
                                    <a href="{% url 'staff_bonafides' %}" class="btn btn-link btn-sm flat-color-3">View &nbsp;<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //bonafide card -->
</div>




{% endblock %}