{% extends 'base.html' %}
{% load static %}

{% block nav %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js"
    integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="row mb-3">
    <div class="col-12">
        <div class="card bg-light">
            <div class="card-body d-flex align-items-center">
                <div class="mr-3">
                    {% if duser.profile %}
                        <img src="{{ duser.profile.url }}" alt="Profile" class="rounded-circle" width="60" height="60">
                    {% else %}
                        <img src="/static/default_profile.png" alt="Default Profile" class="rounded-circle" width="60" height="60">
                    {% endif %}
                </div>
                <div>
                    <strong>Staff ID:</strong> {{ duser.user.username }}<br>
                    <strong>Name:</strong> {{ duser.name }}<br>
                    <strong>User:</strong> HOD
                </div>
            </div>
        </div>
    </div>
</div>
<li class="active">
    <a href="{% url 'dash' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
</li>
<li>
    <a href="{% url 'hod_od_view' %}"><i class="menu-icon fa fa-file"></i>OD's </a>
</li>
<li>
    <a href="{% url 'hod_bonafide_view' %}"><i class="menu-icon fa fa-certificate"></i>Bonafide </a>
</li>
<li>
    <a href="{% url 'hod_leave_view' %}"><i class="menu-icon fa fa-copy"></i>Leave's </a>
</li>
<li>
    <a href="{% url 'hod_gatepass_view' %}"><i class="menu-icon ti ti-shift-right-alt"></i>Gatepass </a>
</li>


<li>
    <a href="{% url 'hod_feedback_view' %}"><i class="menu-icon ti ti-comments"></i>Feedback </a>
</li>
{% endblock %}
{% block root %}

<style>
    .checked {
        color: orange;
    }
</style>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="ti-file"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">OD's
                                <div class="stat-heading">
                                    <a href="{% url 'hod_od_view' %}" class="btn btn-link btn-sm  flat-color-1">View &nbsp;<i
                                            class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                        <i class="ti-files"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">Leave's
                                <div class="stat-heading">
                                    <a href="{% url 'hod_leave_view' %}" class="btn btn-link btn-sm  flat-color-2">View &nbsp;<i
                                            class="fa fa-arrow-right"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- //Bonafide card -->
    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                        <i class="menu-icon fa fa-certificate"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">Bonafide
                                <div class="stat-heading">
                                <a href="{% url 'hod_bonafide_view' %}" class="btn btn-link btn-sm  flat-color-2">View &nbsp;<i
                                            class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <i class="ti-shift-right-alt"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">Gate Pass
                                <div class="stat-heading">
                                    <a href="{% url 'hod_gatepass_view' %}" class="btn btn-link btn-sm  flat-color-4">Apply
                                        &nbsp;<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Staff Ratings</strong>
            </div>
            <div class="card-body">
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="serial">Name</th>

                                <th>Stars</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for n,p in ratings.items %}
                            <tr>
                                <td><small>Mr/Mrs</small> {{n}}</td>
                                <td>
                                    {% for i in "x"|ljust:4 %}
                                    {% if forloop.counter0 < p.0 %} <span class="fa fa-star checked"></span>
                                        {% else %}
                                        <span class="fa fa-star"></span>
                                        {% endif %}
                                        {% endfor %}
                                        ({{p.1}})
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Recent Logs</strong>
            </div>
            <div class="card-body">
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="serial">Student Name</th>
                                <th>Staff Name</th>
                                <th>Average</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in rating_log %}
                            <tr>
                                <td>{{i.student.name}}</td>
                                <td><small>Mr/Mrs </small>{{i.staff.name}}</td>
                                <td>
                                    {% for j in "y"|ljust:4 %}
                                    {% if forloop.counter0 < i.avg %} <span class="fa fa-star checked"></span>
                                        {% else %}
                                        <span class="fa fa-star"></span>
                                        {% endif %}
                                        {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

</script>


</script>

{% endblock %}